# Nette
/config/local.neon

# Composer
/vendor

# NodeJS
/node_modules

# Assets
/www/dist

# Tests
/tests/*.log
/tests/tmp
/tests/coverage.html

# Docker
/.docker/data
/var/tmp/employee.xml
/var/tmp/employee.xsd
/var/tmp/user.xml
/var/tmp/user.xsd
