# Nette
/config/local.neon

# Composer
/vendor

# NodeJS
/node_modules

# Assets
/www/dist

# Tests
/tests/*.log
/tests/tmp
/tests/coverage.html

# Docker
/.docker/data
/data/xml/employee.xml
/data/xml/employee.xsd
/data/xml/user.xml
/data/xml/user.xsd
